@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);


@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";

@theme {
  --font-sans: "Reddit Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.prose-lg blockquote {
  background-color: #fff;
  padding: 2rem;
  border-top: 5px solid #c6cace;
  border-bottom: 5px solid #c6cace;
}

.prose-lg ul {
  list-style-type: disc;
}

.prose-lg ol {
  list-style-type: decimal;
}

.prose-lg li::marker {
  color: gray;
}

.prose-lg h2,
.prose-lg h3 {
  font-weight: bold;
}
